<div class="select-turma" *ngIf="allowed">
  <div class="grid">
    <div class="card">
      <mat-card>
        <mat-card-title>Convidar professor</mat-card-title>
        <mat-card-content style="margin-top: 5vh;" *ngIf="!isLoadingInvite else loading">
          <mat-form-field style=" width: 100%">
            <mat-label>email do professor</mat-label>
            <input id="inputProfessor" matInput matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Por favor, digite um email válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              O email é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <p style="margin-top: 3vh;">
            <button mat-flat-button [disabled]="!emailFormControl.valid" color="primary" (click)="sendProfInvite()">Enviar convite</button>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <p class="list-title">Professores cadastrados:</p>
    <mat-list class="list" *ngIf="!isLoading else loading">
      <mat-list-item *ngFor="let prof of professores; let i = index" class="prof">
        <span>
          <p class="info-prof">{{formalName(prof.nome)}}</p>
          <p class="info-prof email-prof">{{prof.email}}</p>
        </span>
        <span style="width: 100%;">
          <button mat-icon-button title="excluir professor" style="float: right;" (click)="openDialogDeleteProf(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="grid">
    <div class="card">
      <mat-card>
        <mat-card-title>Nova turma</mat-card-title>
        <mat-card-content style="margin-top: 5vh;" *ngIf="!isLoadingCriar else loading">
          <mat-form-field style=" width: 100%">
            <mat-label>Nome da turma</mat-label>
            <input id="inputTurma" matInput placeholder="" value="" />
          </mat-form-field>
          <p style="margin-top: 3vh;">
            <button mat-flat-button color="primary" (click)="createTurma()">Criar turma</button>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <p class="list-title">Turmas cadastradas:</p>
    <mat-list class="list" *ngIf="!isLoadingTurma else loading">
      <mat-list-item *ngFor="let turma of turmas; let i = index" class="prof">
        <span>
          <p class="info-prof">{{turma.nome}}</p>
        </span>
        <span style="width: 100%;">
          <button mat-icon-button title="excluir professor" style="float: right;" (click)="openDialogDeleteTurma(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #loading>
    <div class="loading flex-box">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </ng-template>
</div>