<form>
  <mat-card id="card-login">
    <img src="assets/logo.png" style="height: 70px;"/> 
    <p>Faça login para poder acessar a gerência</p>
    <p>
      <mat-form-field class="form-field">
        <mat-label>Digite seu email</mat-label>
        <input type="email" id="email" placeholder="eumesmo@email.com" matInput [formControl]="emailFormControl"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Por favor, digite um email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          O email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <mat-label>Digite sua senha</mat-label>
        <input id="password" matInput type="password" placeholder="******" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          A senha é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <button mat-flat-button color="primary" id="bt-login" (click)="login()">Login</button>
    </p>
  </mat-card>
</form>