<html>

<head>
</head>

<body>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Agenda CPM</span>
    <span class="example-spacer"></span>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </mat-toolbar>
  <mat-form-field appearance="fill" class="select-turma">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" (valueChange)="changeTurma()">
      <mat-option *ngFor="let turma of turmas" value={{turma.nome}}>{{turma.nome}}</mat-option>
    </mat-select>
  </mat-form-field>
  <table mat-table [dataSource]="avaliacoes" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"> 
            <div class="example-element-description">
              {{element.descricao}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <p>oi</p>
</body>

</html>